body{
    height: 100vh;
    width: 100vw;
}

.navbar{
    box-shadow: 0px 0px 15px 1px #888888;
}

.movies{
    position:absolute;
    height: 100%;
    width: 100%;
    border: 2px solid black;
    padding: 1%;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    gap: 2%;
    overflow: scroll;

}

.card{
    height: 55%;
    width: 18%;
    border: 2px solid black;
    border-radius: 15px;
    margin-top: 1%;
    display: flex;
    flex-direction: column;
    gap: 1%;
    align-items: center;
    font-size:medium;
    background-color: #DFDFDF;
    box-shadow: 0px 0px 15px 1px #888888;
}



.image{
    height: 60%;
    width: 100%;
    border: 2px solid black;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background-color: #DFDFDF;
}
.image img{
    height: 100%;
    width: 100%;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.details{
    height: 38%;
    width: 97%;
    border: 2px solid black;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    background-color: white;
    

}

.details div{
    padding: 2%;
    display: flex;
    justify-content: space-between;
}

.details > p {
    white-space: nowrap;  /* Prevent text from wrapping */
    overflow: hidden;     /* Hide overflowed content */
    text-overflow: ellipsis; /* Display ellipsis for overflowed text */
    margin-left: 2%;
}